.contact-form {
  width: 500px;
  padding-top: 100px;
  padding-left: 60px;
}

.contact-form h1 {
  color: white;
  font-size: 36px;
  padding-left: 15%;
}
.contact-form form {
  padding-left: 20%;
}

.contact-form label {
  color: #00c7ff;
  font-weight: 600;
  font-size: large;
  text-transform: uppercase;
}
.contact-form input {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 450px;
  background: transparent;
  border-width: 0px;
  border-bottom: whitesmoke 2px solid;
}
input:hover {
  border-width: 0px;
  border: none;
  color: white;
}

/* media queries */
@media (max-width: 725px) {
  .contact-form form {
    padding-left: 5%;
  }
}

@media (max-width: 600px) {
  .contact-form form {
    padding-left: 5%;
  }

  .contact-form input {
    width: 350px;
  }
}

@media (max-width: 600px) {
  .contact-form form {
    padding-left: 2.5%;
  }

  .contact-form input {
    width: 250px;
  }

  .contact-form h1 {
    color: white;
    font-size: 25px;
    padding-left: 10%;
  }

  .contact-form label {
    color: #00c7ff;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
  }
}

@media (max-width: 385px) {
  .contact-form {
    padding-top: 150px;
  }
}

@media (max-width: 350px) {
  .contact-form {
    padding-top: 150px;
  }

  .contact-form form {
    padding-left: 1%;
  }
}
/* media queries end */
