section .home {
  min-height: 100vh;
}
.parallax .home .home-content {
  width: 800px;
  padding: 12.5% 0% 0% 15%;
  color: #fff;
}

.home-content span {
  color: #00c7ff;
  font-size: larger;
  font-weight: 600;
}

.home-content h1 {
  font-size: xx-large;
  font-weight: 400;
}

.home-content p {
  font-size: large;
  font-weight: 300;
  line-height: 1.7rem;
  margin-top: 1.2rem;
  margin-bottom: 2.5rem;
}

.home-content .neon {
  color: #00c7ff;
  text-shadow: 0 0 20px #00c7ff;
  font-size: larger;
  text-decoration: none;
  border: 1px solid #00c7ff;
  padding: 0.5% 10% 0.5% 10%;
  border-radius: 5px;
  letter-spacing: 3px;
}
