.media{
    background: url('../images/Mediapage\ background\ .jpg');
    background-size: cover;
    width: 100%;
    height: 800px;
}

.vl{
    border-left: 2px solid white;
    height: 440px;
    margin-top: 25%;
}

.slider{
  padding-top: 3%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 6%;
}

#award{
  width: 150px;
  margin-left: 35%;
}

.text{
padding-top: 56%;
}

.text h1{
  color: white;
  text-transform: uppercase;
}

.text span{
  color: #00c7ff;
}