.mission img {
  width: 100%;
  height: 100vh;
}

.mission-vision-content {
  width: 50%;
  padding: 5% 0% 5% 10%;
  margin-top: -47%;
}

.mission-heading {
  font-size: xx-large;
  text-align: center;
  padding-top: 6%;
}

.vision-content {
  padding-bottom: 30px;
}

.vision-content span {
  color: #00c7ff;
  font-size: 30px;
}
.vision-content p {
  color: white;
  font-size: 20px;
}

.mission-content {
  padding-top: 40px;
}

.mission-content span {
  color: #00c7ff;
  font-size: 30px;
}

.mission-content p {
  color: white;
  font-size: 20px;
}



/* media queries */
@media (max-width: 1366px) {
  .mission-vision-content {
    padding: 1% 0% 3% 10%;
  }
}

@media (max-width: 1255px) {
  .mission-vision-content {
    padding: 1% 0% 3% 10%;
  }
}

@media (max-width: 1180px) {
  .mission-vision-content {
    padding: 0% 0% 3% 10%;
  }

  .vision-content {
    padding-bottom: 17px;
  }

  .mission-content {
    padding-top: 20px;
  }
}

@media (max-width: 1120px) {
  .mission-vision-content {
    width: 60%;
    padding-bottom: 2%;
    padding-left: 10%;
  }
}

@media (max-width: 1105px) {
  .mission-vision-content {
    width: 65%;
    padding-bottom: 2%;
    padding-left: 10%;
  }
}

@media (max-width: 1030px) {
  .mission-vision-content {
    width: 70%;
    padding-bottom: 2%;
    padding-left: 10%;
  }

  .vision-content {
    padding-bottom: 0;
  }

  .mission-content {
    padding-top: 0;
  }

  .vision-content span {
    color: #00c7ff;
    font-size: 25px;
  }
  .vision-content p {
    color: white;
    font-size: 18px;
  }

  .mission-content span {
    color: #00c7ff;
    font-size: 25px;
  }
  .mission-content p {
    color: white;
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .mission-vision-content {
    align-items: center;
    width: 100%;
    margin-top: -55%;
    padding: 0% 10% 0% 10%;
  }

  .vision-content {
    padding-bottom: 1.5%;
  }

  .mission-content {
    padding-top: 1.5%;
  }
}

@media (max-width: 760px) {
  .mission-vision-content {
    margin-top: -60%;
  }
}

@media (max-width: 715px) {
  .mission-vision-content {
    margin-top: -70%;
  }
}

@media (max-width: 630px) {
  .mission-vision-content {
    margin-top: -80%;
  }
}

@media (max-width: 580px) {
  .mission-vision-content {
    margin-top: -85%;
  }
}

@media (max-width: 510px) {
  .mission-vision-content {
    margin-top: -100%;
  }

  .mission-content {
    padding-top: 0.9%;
  }

  .vision-content {
    padding-bottom: 0.9%;
  }
}

@media (max-width: 470px) {
  .mission-vision-content {
    margin-top: -110%;
  }
}

@media (max-width: 425px) {
  .mission-vision-content {
    margin-top: -124%;
  }
}

<<<<<<< Updated upstream
hr{
    width:40%;
    color: white;
    height: 2px;
}
=======
@media (max-width: 395px) {
  .mission-vision-content {
    margin-top: -132%;
  }

  .mission-content p,
  .vision-content p {
    font-size: 15px;
  }

  .mission-content span,
  .vision-content span {
    font-size: 17px;
  }
  .mission-heading {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .mission-vision-content {
    margin-top: -160%;
  }
}

@media (max-width: 290px) {
  .mission-vision-content {
    margin-top: -180%;
  }
}

@media (max-width: 260px) {
  .mission-vision-content {
    margin-top: -210%;
  }

  .vision-content {
    padding-bottom: 0.1rem;
  }

  .mission-content {
    padding-top: 0.4rem;
  }
}

@media (max-width: 235px) {
  .mission-vision-content {
    margin-top: -225%;
  }

  .mission-content p,
  .vision-content p {
    font-size: 13px;
  }

  .mission-content span,
  .vision-content span {
    font-size: 16px;
  }
  .mission-heading {
    font-size: 19px;
  }
}

@media (max-width: 200px) {
  .mission-vision-content {
    margin-top: -270%;
  }

  .mission-content,
  .vision-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* media queries end*/
>>>>>>> Stashed changes
