header {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.5rem 7%;
}

header a img {
  height: 80px;
  width: 160px;
  margin: 0;
  padding-top: 1rem;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  width: 120px;
  margin-left: auto;
  padding: auto;
  text-align: center;
}

header .navbar ul li a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

header .navbar ul li.active,
header .navbar ul li:hover {
  color: #00c7ff;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.459)
  );
  border-bottom: 0.2rem solid #00c7ff;
  padding: 0.7rem 0;
}

#menu {
  font-size: 2rem;
  color: rgb(207, 205, 205);
  cursor: pointer;
  display: none;
}

@media (max-width: 860px) {
  header a img {
    height: 80px;
    width: 120px;
    margin: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  #menu {
    display: block;
  }

  header {
    background: rgba(0, 0, 0, 0.63);
  }

  header .navbar {
    position: fixed;
    top: 6rem;
    left: -150%;
    /* left: 0; */
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.63), #094050af);
    border-top: 0.2rem solid rgba(0, 0, 0, 0.1);
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem 2rem 2rem 5rem;
  }

  header .navbar ul li {
    text-align: left;
    width: 300px;
    margin: 0.7rem 0;
  }

  header .navbar ul li a {
    display: block;
    font-size: 1.5rem;
    padding: 0.6rem 0.6rem 0.6rem 1.5rem;
  }

  header .navbar ul li a.active,
  header .navbar ul li:hover {
    color: #00c7ff;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.39),
      rgba(255, 255, 255, 0)
    );
    border-bottom: none;
    border-left: 0.4rem solid #00c7ff;
    padding: 0.3rem 0;
  }

  .fas.fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    left: 0;
  }
}

@media (max-width: 320px) {
  header .navbar ul li a {
    display: block;
    font-size: 1.2rem;
    padding: 0.6rem 0.6rem 0.6rem 1rem;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }
}
