.work img {
  width: 100%;
  height: 100vh;
}

section .work {
  background-color: #00c7ff;
}

/* .contemt {
  display: flex;
  flex-direction: row;
} */

.work-content {
  width: 50%;
  padding-left: 10%;
  color: #fff;
  margin-top: -37%;
}

.work-content span {
  color: #00c7ff;
  font-size: larger;
  font-weight: 600;
}

.work-content h1 {
  font-size: xx-large;
  font-weight: 400;
}

.work-content p {
  font-size: large;
  font-weight: 300;
  line-height: 1.7rem;
  margin-top: 1.2rem;
  margin-bottom: 2.5rem;
}

.round {
  min-height: 255px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}

.round strong {
  position: absolute;
  top: 29%;
  left: 7.25%;
  margin-top: -50px;
  transform: translate(-50%);
  font-size: medium;
  color: #fff;
  font-weight: 100;
}

/* slider */

.swiper-container {
  width: 50%;
  left: 23%;
  margin-top: -35%;
}

.swiper-slide {
  /* background-position: center;
      background-size: cover; */
  padding: 8% 5% 8% 5%;
  width: 250px;
  height: 300px;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(#00c7ff, rgba(255, 255, 255, 0));
}

.swiper-slide .rounds {
  align-items: center;
  text-align: center;
}

.swiper-slide h3,
.swiper-slide p {
  font-weight: 400;
  font-size: larger;
}

.swiper-slide .rounds strong {
  position: absolute;
  top: 52.5%;
  left: 50%;
  margin-top: 43px;
  transform: translate(-50%);
  font-size: large;
  color: #fff;
  font-weight: 700;
}

.swiper-slide h3 {
  text-align: center;
  align-items: center;
  color: #0a4268;
  font-size: x-large;
  font-weight: bolder;
}

/* slider end */
